/* ***************************** */
/* shared css styles */
/* ***************************** */

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Azeret Mono", monospace;
}

.container {
    width: 85%;
    max-width: 1440px;
    margin: 0 auto;
}

.container-2 {
    width: 80%;
    max-width: 1140px;
    margin: 0 auto;
}

.container-3 {
    width: 95%;
    max-width: 1140px;
    margin: 0 auto;
}

.section-title {
    color: rgb(13, 19, 33);
    font-size: 27px;
    font-weight: 800;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 20px;
}

.section-description {
    color: rgb(13, 19, 33);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 20px;
}



/* ************************************ */
/* hero section related styles */
/* ************************************ */

.hero-section {
    background-image: url("../assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 70px;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 27px;
    padding: 0px;
    text-align: center;
    padding: 35px 70px;
}

.banner-photo img {
    max-width: 114px;
}

.banner-title {
    color: rgb(13, 19, 33);
    font-size: 40px;
    font-weight: 800;
    line-height: 58px;
    letter-spacing: 0%;
}

.banner-info {
    color: rgb(13, 19, 33);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
}

.banner-button {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    max-width: 207px;
    padding: 15px 15px;

}



/* ****************************** */
/* coding section styles */
/* ****************************** */

.coding-section {
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin-bottom: 70px;
}

.coding-box {
    max-width: 945px;
    margin: 0 auto;
    padding: 82px;
}

.coding-text {
    margin-bottom: 40px;
}

.coding-card {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    padding: 40px;
    margin-bottom: 27px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}

.cod-card-2 {
    background: linear-gradient(270.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}

.code-title {
    color: rgba(13, 19, 33, 0.7);
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 14px;
}

.code-description {
    color: rgb(13, 19, 33);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 27px;
}

.code-button {
    max-width: 145px;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 12px 12px;
}

.code-photo img {
    max-width: 206px;
}


/* ************************************* */
/* inspire section related styles */
/* ************************************* */

.inspiration-section {
    margin-bottom: 70px;
}

.inspire-video {
    max-width: 1140px;
    border-radius: 16px;
    border: 1px solid rgba(13, 19, 33, 0.20);
    padding: 27px;
}

.yt-video-controls {
    aspect-ratio: 16 / 9;
    width: 100%;
    border-radius: 16px;
}



/* ************************** */
/* current-target section styles */
/* *************************** */

.current-target-section {
    margin-bottom: 70px;
}

.current-card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.current-card {
    max-width: 300px;
    border-radius: 14px;
    padding: 35px;
}

.cur-card-1 {
    background: rgba(255, 76, 30, 0.05);
}

.cur-card-2 {
    background: rgba(0, 76, 232, 0.05);
}

.cur-card-3 {
    background: rgba(255, 223, 0, 0.05);
}

.current-card img {
    max-width: 50px;
    max-height: 50px;
    margin-bottom: 19px;
}

.current-title {
    color: #0D1321;
    font-size: 20px;
    font-weight: 800;
    line-height: 30px;
    margin-bottom: 8px;
}

.current-description {
    color: #0D1321;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 19px;
}

.current-link {
    color: #0D1321;
    font-size: 14px;
    font-weight: 700;
    text-decoration-line: underline;
}


/* ********************************* */
/* support-section related styles */
/* *********************************** */

.support-section {
    margin-bottom: 70px;
    background-image: url("../assets/handshake.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
}

.support-info {
    max-width: 840px;
    text-align: center;
    margin: 0 auto;
    padding: 64px 48px;
}

.support-title {
    color: #FFF;
    font-size: 27px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 15px;
}

.support-description {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 15px;
    opacity: 0.7;
}

#large-text-input {
    font-size: 16px;
    padding: 15px 30px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    border: none;
    width: 550px;
    background: #FFF;
}

#small-text-input {
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
    border: none;
    background: #FFF;
}



/* ****************************** */
/* footer related styles */
/* ****************************** */

#footer-section {
    max-width: 1440px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    padding: 25px 100px;
}

.footer-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-text h5 {
    color: #0D1321;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

.footer-icons img{
    max-width: 36px;
    max-height: 36px;
}